h1 {
    text-align: center;
}
.gifs {
    float: left;
    padding: 10px;
}
.topic {
    margin-right: 10px;
    margin-bottom: 10px;
    

}
#buttons-view{
    text-align: center;
}
form {
    text-align: center;
}
/* #add-name {
    float: left;
}
#name-input{
    float: left;
} */