h1 {
    text-align: center;
}
.gifs {
    float: left;
    padding: 10px;
}
.topic {
    margin-right: 10px;
    margin-bottom: 10px;
    

}
#buttons-view{
    text-align: center;
}
form {
    text-align: center;
}
#banner {
    height: 350px;
    width: 100%;
    margin-bottom: 10px;
}
body {
    background-color: #300000;
}
p {
    color: white;
}
#name {
    color: white;
}